h1{

color: cyan;
text-align: center;
size: 30px;
}

p{

    float: left;
    color: fuchsia;

    
}

img{

    height: 650px;
    width: 600px;
}



ul{
float: right;
list-style-type: none;
padding: 10px;
}

li {
    display: inline;
    padding: 10px;
}